<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            flush();

            $("#addBtn").click(function () {
                add();
            });
        });
        function flush() {
            $.ajax({
                url:"getAllCity",
                type: "get",
                dataType: "json",
                success:function (resp) {
                    var html = "";
                    $("#citySelect").html(html);
                    html += "<option>---请选择---</option>";
                    $.each(resp,function (i,n) {
                        html += '<option value="'+n.id+'" >'+n.cityName+'</option>';
                    });
                    $("#citySelect").html(html);
                }
            });
        };
        function add() {
            var cityName = $.trim($("#cityName").val());
            $.ajax({
                url:"add",
                type:"post",
                data:{cityName:cityName},
                dataType:"text",
                success:function (resp) {
                    flush();
                    alert(resp);
                }
            });
        }
    </script>
</head>
<body>
<center th:inline="text">
    <select id="citySelect">

    </select>
    <hr>
    <table>
        <tr>
            <td>名称</td>
            <td><input type="text" id="cityName"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="addBtn" value="添加">
            </td>
        </tr>
    </table>
</center>
</body>
</html>